<h2> <%=user.name%>'s Collection! </h2>
    <%@user.badges.each do |badge|%>
        <li class="badgegallery"><%=badge.display%></li>
    <%end%>

<div class="microtext">
    <p>Yeah... Pretty Good. I guess...</p>
</div>